body{
    background-image: url("/static/images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;


    display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}


#title{
	font-family: Dancing Script, cursive;
	font-size: 60px;
	margin: 5px;}
	#descr{
		
		font-size: 20px
	}
	
	.container {
	/*background-color: #fff;*/
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 600px;
	max-width: 100%;
}
	label{
		margin: 0;
	}

