{% extends "base.html" %}




{% block title %}
      Admin
{% endblock %}



{% block body %}
<div class="container pb-2 bg-light">
    <div class="text-primary text-center"><h1>Admin</h1></div>
        <div id="tb_rapper">
            <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Contact</th>
                        <th>Amount</th>
                        <th>Beneficiary</th>
                    </tr>
                </thead>
                <tbody>
                    {% if lenght >0 %}
                    {% for contributor in range(lenght)%}
                    <tr>
                        <td>{{contributors[contributor][1]}}</td>
                        <td>{{contributors[contributor][2]}}</td>
                        <td>{{contributors[contributor][3]}}</td>
                        <td>{{contributors[contributor][4]}}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <center><td>No Contributions Yet</td></center>
                    </tr>
                    {% endfor%}
                    {% endif%}
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
        

        <div class="mt-4">
            <a class="btn btn-primary mr-3" href="/">back to home</a>
<div class="float-right"><form method="POST"><button class="btn btn-light text-danger" type="submit">clear table</button></form></div>

        </div>

</div>


{% endblock %}
