{% extends "base.html" %}




{% block title %}
	Thank You
{% endblock %}



{% block body %}
    <center>
        <div class="container m-5 justify-content-center d-flex">
            <div class="row text-center text-primary"><h1 class="display-1">THANK YOU</h1></div>
        </div>
    
        <div class="row mt-3 m-5 justify-content-center d-flex p-0">
            <a class="btn btn-primary mr-3" href="/">back to home</a>
            <a class=" btn btn-success" href="/admin"> go to admin</a>
        </div>
        
    </center>
{% endblock %}
