{% extends "base.html" %}




{% block title %}
	Funeral
{% endblock %}



{% block body %}
<div class="container p-3" style="width: 600px;">

	<div class="col-md-12" align="center" >
		<h2 id="title">Fund Management</h2>
		<p id="descr">Some random info or carefully selected instructions</p>
	</div>

	<form name='registration' method="POST" >

		<div class="form-group">
			<label for="fname">Full name:</label>
			<input class="form-control" required id="fname" type="text" size="30" name="name">
		</div>

		<div class="form-group">
			<label for="uphone">Contact No:</label>
			<input class="form-control" required type="text" size="30" minlength="10" maxlength ="10" name="contact">
		</div>

		<div class="form-group">
			<label for="amt">Amount Received</label>
			<input class="form-control" id="amt" type="text" required="" min="1" name="amount">
		</div>

		<div class="form-group">
			<label for="beneficiary">Beneficiary</label>
			<select class="form-control"  required="" name="beneficiary">
				<option disabled="disabled" selected="">Please select beneficiary</option>
				<option id="fam1">BENEFICIARY_1</option>
				<option id="fam2">BENEFICIARY_2</option>
				<option id="fam3">BENEFICIARY_3</option>	
			</select>
		</div>

		<div class="d-flex justify-content-end">
			<div class="mx-3">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			</div>
			<button type="submit" class="btn btn-primary">+Records</button>
		</div>
		
	</form>
</div>
{% endblock %}
